html {
    background: #E87177;
}

.container {
    height: 350px;
    width: 800px;
    margin: 135px auto;
    border: 2px solid white;
    border-radius: 15px;
    background: #fff;
    padding: 20px;
    font-family: monospace;
    font-size: 16px;
    color: #353535;
    line-height: 1.5em;
    overflow-y:auto;
}

.choices {
    margin-top: 10px;
    margin-right: 30px;
    height: 15px;
    width: 500px;
    background-color: red;
    border: 2px solid #E87177;
    border-radius: 10px;
    background: #fff;
    padding: 12px;
    font-family: monospace;
    font-size: 16px;
    color: #353535;
    float: left;
}

.manage {
    height: 200px;
    width: 350px;
    border: 1px solid white;
    border-radius: 15px;
    background: #fff;
    padding: 20px;
    font-family: monospace;
    font-size: 16px;
    color: #353535;
    line-height: 1.5em;
    float: left;
}

.choicesText {
    margin-bottom: 10px;
}

.question {
    margin-top: 50px;
    margin-bottom: 50px;
}

.containerCategories {
    height: 700px;
    width: 800px;
    margin: 135px auto;
    border: 2px solid white;
    border-radius: 15px;
    background: #fff;
    padding: 20px;
    font-family: monospace;
    font-size: 16px;
    color: #353535;
    line-height: 1.5em;
    overflow-y:auto;
}

.containerQuiz {
    height: 500px;
    width: 800px;
    margin: 135px auto;
    border: 2px solid white;
    border-radius: 15px;
    background: #fff;
    padding: 20px;
    font-family: monospace;
    font-size: 16px;
    color: #353535;
    line-height: 1.5em;
}

h1,h2,h3,h4,h5,h6 {font-weight: bold;}

h1 {
    font-size: 26px;
    margin: 0 0 20px;
    color: #E87177;
    font-family: monospace;
    text-align: center;
}
h2 {
    font-size: 50px;
    margin: 0 0 20px;
    color: #E87177;
    font-family: monospace;
    text-align: left;
}
h3 {
    font-size: 18px;
    margin: 15px 0 10px;
    color: #E87177;
    font-family: monospace;
    text-align: center;
}
h4 {
    font-size: 16px;
    margin: 10px 0;
}
h5 {
    font-size: 14px;
    margin: 10px 0 5px;
}
h6 {
    font-size: 12px;
    margin: 5px 0;
}

.question-text {
    font-size: 12px;
    margin-left: 35px;
    color: #353535;
    font-family: monospace;
    text-align: left;
}


.choices-text {
    font-size: 12px;
    margin-left: 40px;
    color: #353535;
    font-family: monospace;
    text-align: left;
}

.button {
    width: 150px;
    margin-top: 50px;
    padding: 10px 20px;
    color:#ffffff;
    text-align: center;
    background-color:#E87177;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 300px;
    float: left;
}
.button:hover, .submit:hover,
.manage-btn:hover, .home-btn:hover,
.next-btn:hover{
    background-color: #e34f57;
}

.button::placeholder {
  color:white;
}

.choices:hover {
    background-color: #e34f57;
    color: #ffffff;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 5px;

}

th {
    background-color: #E87177;
    color: white;
}

table {
    width: 100%;
    margin-bottom: 50px;
}

.tCategory {
    text-align: center;
}

.grade {
    margin-top: 100px;
    font-size: 80px;
    color: #E87177;
    font-family: monospace;
    text-align: center;
}


input[type=text], select {
    width: 24%;
    padding: 12px 20px;
    margin-top: 10px;
    margin-left: 300px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit {
    width: 150px;
    margin-top: 20px;
    padding: 10px 20px;
    color:#ffffff;
    text-align: center;
    background-color:#E87177;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 300px;
    float: left;
}

.manage-btn {
    width: 150px;
    margin-top: 20px;
    padding: 10px 20px;
    color:#ffffff;
    text-align: center;
    background-color:#E87177;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 75px;
    float: left;
}

.home-btn {
    width: auto;
    margin-top: 60px;
    padding: 10px 20px;
    color:#ffffff;
    text-align: center;
    background-color:#E87177;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
    float: left;
}

.next-btn {
    width: auto;
    margin-top: 20px;
    padding: 10px 20px;
    color:#ffffff;
    text-align: center;
    background-color:#E87177;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
    float: right;
}
